html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

div.tooltip {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  background: white;
  pointer-events: none;
}

#results, #legend {
  padding: 1em;
}

svg {
  font-family: "Avenir Next W00", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
